body {
  background-color: white;
}

footer {
  padding: 10px;
}

.builder {
  background-color: black;
  color: white;
}

.builder .chart-title {
  color:white;
}

.scholar {
  background-color: white;
}